@import "stylesheets/header.css";
@import "stylesheets/menu.css";
@import "stylesheets/posts.css";

* {
    font-family: 'Tahoma', sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

@media (max-width: 350px){
    .post-list {
        margin: 0 0.5rem;
        width: auto;
    }



    .post {
        padding: 1rem 0;
        align-items: flex-start;
    }
}